[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sklearn = "*"
flask = "*"
numpy = "*"
pandas = "*"
tweepy = "*"
nltk = "*"
nlpaug = "*"
zappa = "*"
streamlit = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.9"
